<div class="container">
  <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <div class="brand-title">Container {{ formReuse.get('Container')?.value }} Reuse</div>


  </nav>
  <form [formGroup]="formReuse">
    <table class="table table-dark">

      <tr>
        <td><label>Carrier</label></td>
        <td><label>Origem Place</label></td>
        <td><label>Destiny Place</label></td>
        <td><label>Booking Number</label></td>
        <td><label>Date Open Gate</label></td>
      </tr>
      <tr>
        <td>
          <select formControlName="Carrier" class="select-input">
            <option value="">Select Carrier</option>
            <option *ngFor="let carrier of carriers" [value]="carrier">{{ carrier }}</option>
          </select>
          <div *ngIf="formReuse.get('Carrier')?.errors?.['required']" class="error-message">Carrier is required</div>
        </td>
        <td>
          <select formControlName="placeOrigin" class="select-input">
            <option value="">Select origin place</option>
            <option *ngFor="let placeOrigin of placesOrigin" [value]="placeOrigin">{{ placeOrigin }}</option>
          </select>
          <div *ngIf="formReuse.get('placeOrigin')?.errors?.['required']" class="error-message">Place is required</div>
        </td>
        <td>
          <select formControlName="place" class="select-input">
            <option value="">Select destiny place</option>
            <option *ngFor="let place of places" [value]="place">{{ place }}</option>
          </select>
          <div *ngIf="formReuse.get('place')?.errors?.['required']" class="error-message">Place is required</div>
        </td>
        <td>
          <input type="string" name="booking" formControlName="booking" [(ngModel)]="data.itemsData.booking">
          <div *ngIf="formReuse.get('booking')?.errors?.['required']" class="error-message">Booking is required</div>
        </td>
        <td><input type="date" name="gateOpen" formControlName="gateOpen" [(ngModel)]="data.itemsData.gateOpen"></td>
        <div *ngIf="formReuse.get('gateOpen')?.errors?.['required']" class="error-message">Date is required</div>
      </tr>


    </table>
    <div>
      <button class="btn btn-primary" type="button" (click)="salvar()">Save</button>
      <button class="btn btn-primary" type="button" (click)="cancel()">Cancel</button>
    </div>
  </form>
</div>
