<body>
  <ul>
    <div>
      <div>
        <form>
          <label for="startDate">Start Date:</label>
          <input type="date" id="startDate" [(ngModel)]="startDate" name="startDate">

          <label for="endDate">End Date:</label>
          <input type="date" id="endDate" [(ngModel)]="endDate" name="endDate">

          <button (click)="updateChart()">Create Chart</button>
        </form>
      </div>
      <table>
        <tr>
          <th>
            <div class="chart-container" id="chartQuantidade">
              <highcharts-chart [Highcharts]="Highcharts" [options]="barQuantidadeContainers"
                style="height: 400px; width: 100%;"></highcharts-chart>
            </div>
          </th>
          <th>
            <div class="chart-container" id="pieChartOptions">
              <highcharts-chart [Highcharts]="Highcharts" [options]="pieChartOptions"
                style="height: 400px; width: 100%;"></highcharts-chart>
            </div>
          </th>
        </tr>
        <tr>
          <th>
            <div class="chart-container" id="chartOptionsCO2">
              <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptionsCO2"
                style="height: 400px; width: 100%;"></highcharts-chart>
            </div>
          </th>
          <th>
            <div class="chart-container" id="chartContainer">
              <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptionsReutiliza"
                style="height: 400px; width: 100%;"></highcharts-chart>



            </div>
          </th>
        </tr>
      </table>
    </div>
  </ul>
</body>
